@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://use.fontawesome.com/7b794425c9.css");
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Interface-Regular.woff2?v=1.5") format("woff2"), url("../fonts/Interface-Regular.woff?v=1.5") format("woff"); }
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Interface-RegularItalic.woff2?v=1.5") format("woff2"), url("../fonts/Interface-RegularItalic.woff?v=1.5") format("woff"); }
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Interface-Medium.woff2?v=1.5") format("woff2"), url("../fonts/Interface-Medium.woff?v=1.5") format("woff"); }
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Interface-MediumItalic.woff2?v=1.5") format("woff2"), url("../fonts/Interface-MediumItalic.woff?v=1.5") format("woff"); }
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Interface-Bold.woff2?v=1.5") format("woff2"), url("../fonts/Interface-Bold.woff?v=1.5") format("woff"); }
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Interface-BoldItalic.woff2?v=1.5") format("woff2"), url("../fonts/Interface-BoldItalic.woff?v=1.5") format("woff"); }
#sidebar {
  position: fixed;
  top: -1px;
  right: 0px;
  width: 280px;
  height: 100%;
  transition: all .2s;
  background: white;
  border-left: 1px solid #d9dee3;
  z-index: 999; }
  #sidebar .sidebar-section {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #d9dee3;
    display: block; }
    #sidebar .sidebar-section .dropdown-btn {
      margin-top: 5px;
      width: 100%; }
    #sidebar .sidebar-section .dropdown-menu {
      width: 100%;
      margin-top: 9px; }
    #sidebar .sidebar-section .dropdown-item {
      font-size: 0.8125rem; }
    #sidebar .sidebar-section input {
      margin-top: 14px; }
      #sidebar .sidebar-section input:after {
        content: "A"; }
    #sidebar .sidebar-section .form-group {
      margin-bottom: 0; }
  #sidebar .article-versions {
    margin-top: 9px; }
    #sidebar .article-versions h4 {
      color: #00c143;
      text-transform: none;
      float: left;
      width: auto; }
    #sidebar .article-versions .preview-article > i {
      float: right;
      display: block;
      color: #00c143; }
    #sidebar .article-versions .new-version {
      text-align: center;
      clear: both;
      color: #00c143;
      font-weight: 500; }
    #sidebar .article-versions .draft, #sidebar .article-versions .published {
      font-size: 0.6875rem;
      border: 1px solid #b3babf;
      border-radius: 10px;
      padding: 1px 8px;
      color: #a9afb8;
      float: right;
      margin-left: 8px; }
    #sidebar .article-versions .published {
      color: #4f637d;
      border-color: #4f637d; }
    #sidebar .article-versions .version-date {
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 0.75rem;
      color: #b3babf;
      font-style: italic;
      margin-left: 2px; }
  #sidebar .article-keywords .keywords {
    position: relative;
    margin-top: 10px;
    min-height: 31px; }
    #sidebar .article-keywords .keywords .keyword {
      background: #a9afb8;
      color: white;
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-size: .835rem;
      padding: 3px 10px 5px;
      border-radius: 100px;
      text-decoration: none;
      width: auto;
      float: left;
      margin-right: 6px; }
      #sidebar .article-keywords .keywords .keyword i {
        float: right;
        padding-left: 7px;
        color: white; }
  #sidebar .article-access-level ul {
    list-style: none;
    padding: 0;
    margin: 14px auto -2px; }
    #sidebar .article-access-level ul li {
      font-size: .835rem;
      margin-bottom: 6px; }
      #sidebar .article-access-level ul li .list-checked {
        font-weight: 500;
        color: #4f637d; }
      #sidebar .article-access-level ul li .list-unchecked {
        font-weight: 300;
        color: #7b8693; }
      #sidebar .article-access-level ul li i {
        margin-right: 3px; }
  #sidebar .related-articles ul {
    list-style: none;
    padding: 0;
    margin: 14px auto -2px; }
    #sidebar .related-articles ul li {
      font-size: .835rem;
      margin-bottom: 6px; }
      #sidebar .related-articles ul li i {
        margin-left: 3px;
        float: right; }

#editor-content {
  position: relative;
  width: calc(100% - 310px); }
  #editor-content .head {
    position: relative;
    height: 62px;
    width: 100%;
    border-bottom: 1px solid #d9dee3;
    padding-top: 18px;
    padding-left: 0;
    padding-right: 0; }
    #editor-content .head .last-update {
      float: right;
      display: inline-block;
      font-size: 0.8125rem;
      color: #9da6b0;
      margin-top: 2px;
      font-weight: 400;
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }
  #editor-content .editor-body {
    position: relative;
    width: 100%;
    margin-top: 20px; }
    #editor-content .editor-body .article-top {
      position: relative;
      border-bottom: 1px solid #d9dee3;
      padding-bottom: 25px;
      margin-top: 30px; }
      #editor-content .editor-body .article-top h1 {
        color: #7d8790; }
      #editor-content .editor-body .article-top h2 {
        color: #bdc4cb;
        margin-top: 18px; }
      #editor-content .editor-body .article-top .article-options {
        position: relative;
        width: 100%;
        margin-top: 25px; }
      #editor-content .editor-body .article-top .options-dropdown {
        float: right; }
      #editor-content .editor-body .article-top .article-translations {
        margin-top: -4px;
        display: block;
        float: right;
        margin-right: 20px; }
        #editor-content .editor-body .article-top .article-translations .dropdown-menu {
          right: -1px;
          font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
          font-size: .875rem;
          color: #4f637d;
          font-weight: 400; }
          #editor-content .editor-body .article-top .article-translations .dropdown-menu:before {
            right: -1px; }
          #editor-content .editor-body .article-top .article-translations .dropdown-menu .dropdown-title {
            color: #4f637d;
            margin-top: 15px; }
            #editor-content .editor-body .article-top .article-translations .dropdown-menu .dropdown-title i {
              float: right;
              color: #D0D8E0; }
          #editor-content .editor-body .article-top .article-translations .dropdown-menu .current {
            font-weight: 500;
            color: #4f637d; }
          #editor-content .editor-body .article-top .article-translations .dropdown-menu .dropdown-item i {
            float: right;
            font-size: .813rem; }
          #editor-content .editor-body .article-top .article-translations .dropdown-menu .new-language {
            text-align: center;
            clear: both;
            color: #00c143;
            font-weight: 500; }
        #editor-content .editor-body .article-top .article-translations .dropdown-toggle::after {
          display: none; }
    #editor-content .editor-body .wysiwyg {
      height: 45px;
      width: calc( 100% - 40px );
      margin-left: 40px;
      border-bottom: 1px solid #d9dee3; }
      #editor-content .editor-body .wysiwyg ul {
        padding-left: 0;
        list-style: none;
        height: 1px; }
        #editor-content .editor-body .wysiwyg ul li {
          display: inline-block; }
          #editor-content .editor-body .wysiwyg ul li .wys-icon {
            height: 45px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            text-align: center;
            display: inline-block; }
            #editor-content .editor-body .wysiwyg ul li .wys-icon i {
              color: #9198A0;
              font-size: .813rem; }
              #editor-content .editor-body .wysiwyg ul li .wys-icon i:hover {
                color: #4f637d; }
            #editor-content .editor-body .wysiwyg ul li .wys-icon .fa-sort-down {
              margin-left: 5px; }
        #editor-content .editor-body .wysiwyg ul li.left {
          float: left; }
        #editor-content .editor-body .wysiwyg ul li.right {
          float: right; }
    #editor-content .editor-body .article-content {
      position: relative;
      width: 100%;
      margin-top: 25px; }
      #editor-content .editor-body .article-content p {
        line-height: 2rem;
        margin-left: 40px; }
      #editor-content .editor-body .article-content .annotation {
        margin-left: 38px;
        margin-top: 33px; }
        #editor-content .editor-body .article-content .annotation .dropdown-toggle::after {
          display: none; }
        #editor-content .editor-body .article-content .annotation .dropdown-menu {
          width: 333px;
          margin-top: -25px;
          margin-left: 13%;
          border-left: 3px solid #0062d0;
          border-top: 1px solid #d9dee3;
          border-radius: 0;
          padding: 10px; }
          #editor-content .editor-body .article-content .annotation .dropdown-menu:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: 90%;
            left: -14px;
            border-width: 0 8px 8px 8px;
            border-style: solid;
            border-color: #0062d0 transparent;
            transform: rotate(-90deg); }
          #editor-content .editor-body .article-content .annotation .dropdown-menu .annotation-comment {
            display: block; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .annotation-comment .user-details .user-avatar {
              display: inline-block;
              height: 30px;
              width: 30px;
              padding-top: 6px;
              margin-right: 3px;
              vertical-align: middle;
              text-decoration: none;
              border-radius: 20px;
              color: white;
              background-color: #ffbc4f;
              text-transform: uppercase;
              font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
              font-size: .813rem;
              font-weight: 600;
              text-align: center; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .annotation-comment .user-details .annotation-menu {
              float: right;
              color: #A9AFB7;
              font-size: 1rem;
              vertical-align: middle; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .annotation-comment .user-details .user-name {
              text-decoration: none;
              font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
              font-weight: 600;
              font-size: .875rem;
              color: #9198A0;
              display: inline-block;
              vertical-align: middle; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .annotation-comment .user-details .comment-date {
              font-size: .75rem;
              margin-left: 38px;
              margin-top: 5px;
              line-height: 0;
              display: block;
              text-decoration: none;
              color: #b3babf; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .annotation-comment .user-comment {
              font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
              font-size: 14px;
              font-weight: 600;
              color: #7a8995;
              margin-left: 38px;
              margin-top: 15px;
              display: block;
              margin-bottom: 15px; }
          #editor-content .editor-body .article-content .annotation .dropdown-menu .comment-case {
            display: block;
            width: 100%;
            border-top: 1px solid #EDEDED;
            padding-top: 15px;
            margin-bottom: 6px; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .comment-case input {
              border-radius: 20px;
              width: calc(100% - 45px);
              display: inline-block;
              margin-right: 0px; }
              #editor-content .editor-body .article-content .annotation .dropdown-menu .comment-case input::placeholder {
                font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
                font-style: italic;
                font-weight: 300;
                color: #AAB3BA; }
            #editor-content .editor-body .article-content .annotation .dropdown-menu .comment-case button {
              float: right; }
  #editor-content .editor-footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #d9dee3;
    height: 80px;
    width: calc(100% - 400px);
    margin-right: 30px; }
    #editor-content .editor-footer .article-comment-counter {
      margin-top: 30px;
      text-transform: uppercase; }
    #editor-content .editor-footer .new-comments {
      background: #ffbc4f;
      padding: 2px 6px;
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight: 600;
      text-decoration: none !important;
      color: white;
      font-size: .813rem;
      border-radius: 3px;
      margin-left: 10px; }
      #editor-content .editor-footer .new-comments:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 130px;
        top: 37px;
        border: 5px solid transparent;
        border-right: 6px solid #ffbc4f;
        z-index: 2; }
    #editor-content .editor-footer .article-ctas {
      position: relative;
      float: right;
      display: inline-block;
      margin-top: 20px; }
      #editor-content .editor-footer .article-ctas .publish-btn, #editor-content .editor-footer .article-ctas .save-draft-btn {
        margin-left: 17px; }
      #editor-content .editor-footer .article-ctas .article-completion-status {
        color: #00c143;
        font-size: 1.4rem;
        vertical-align: middle; }

h1 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.4px; }

h2 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.4px; }

h4 {
  font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase; }

.btn-lg, .btn-md, .btn-circular, .btn-square, .btn-sm {
  border-radius: 50px;
  padding: 0 20px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.1px; }
  .btn-lg i.ionicons, .btn-md i.ionicons, .btn-circular i.ionicons, .btn-square i.ionicons, .btn-sm i.ionicons {
    font-size: 1.375rem;
    margin-right: 7px;
    vertical-align: middle; }
  .btn-lg i.fa, .btn-md i.fa, .btn-circular i.fa, .btn-square i.fa, .btn-sm i.fa {
    font-size: 0.875rem;
    margin-right: 7px;
    vertical-align: middle; }
  .btn-lg span, .btn-md span, .btn-circular span, .btn-square span, .btn-sm span {
    vertical-align: middle; }

.btn-md, .btn-circular, .btn-square {
  height: 36px; }

.btn-circular, .btn-square {
  height: 36px;
  width: 36px;
  border-radius: 20px;
  padding: 0;
  text-align: center; }

.btn-square {
  height: 36px;
  width: 36px;
  border-radius: 3px;
  padding: 0;
  text-align: center; }

.btn-sm {
  height: 21px;
  border-radius: 2px;
  font-size: .813rem;
  padding: 0 7px; }

.btn-green, .btn-grey, .btn-circular-grey {
  background: white;
  border: 1px solid #00c143;
  color: #00c143;
  outline: 0;
  box-shadow: none; }
  .btn-green:hover, .btn-grey:hover, .btn-circular-grey:hover {
    background: #00c143;
    color: white;
    transition: all 0.2s linear; }
  .btn-green:active, .btn-grey:active, .btn-circular-grey:active {
    background: #00a83a;
    color: white; }
  .btn-green:focus, .btn-grey:focus, .btn-circular-grey:focus {
    outline: 0; }

.btn-green-full, .btn-grey-full, .btn-square-blue-full {
  background: #00c143;
  letter-spacing: -0.1px;
  color: white;
  border: 0; }
  .btn-green-full:hover, .btn-grey-full:hover, .btn-square-blue-full:hover {
    background: #00b23e;
    color: white;
    transition: all 0.2s linear; }
  .btn-green-full:active, .btn-grey-full:active, .btn-square-blue-full:active {
    background: #00a83a;
    color: white; }
  .btn-green-full:focus, .btn-grey-full:focus, .btn-square-blue-full:focus {
    outline: 0; }

.btn-grey, .btn-circular-grey {
  border-color: #a9afb8;
  color: #a9afb8; }
  .btn-grey:hover, .btn-circular-grey:hover {
    background: #a1a7b1;
    color: white;
    transition: all 0.2s linear; }
  .btn-grey:active, .btn-circular-grey:active {
    background: #9ba2ac;
    color: white; }
  .btn-grey:focus, .btn-circular-grey:focus {
    outline: 0; }

.btn-grey-full {
  background: #a9afb8; }
  .btn-grey-full:hover {
    background: #a1a7b1;
    color: white;
    transition: all 0.2s linear; }
  .btn-grey-full:active {
    background: #9ba2ac;
    color: white; }
  .btn-grey-full:focus {
    outline: 0; }

.btn-square-blue-full {
  border: 0;
  background: #0062d0;
  color: white; }
  .btn-square-blue-full:hover {
    background: #004694;
    color: white; }
  .btn-square-blue-full:active, .btn-square-blue-full:focus {
    background: darken #004694, 5%; }
  .btn-square-blue-full i.fa {
    margin-right: 0;
    vertical-align: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .btn-square-blue-full i.ionicons {
    vertical-align: middle;
    margin-right: 0;
    font-size: 1rem;
    vertical-align: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.btn-circular-grey-full {
  border: 0;
  background: #a9afb8;
  color: white; }
  .btn-circular-grey-full:hover {
    background: #9198A0;
    color: white; }
  .btn-circular-grey-full:active {
    background: #838b94; }
  .btn-circular-grey-full i.ionicons {
    vertical-align: middle;
    margin-right: 0;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.btn-circular-grey {
  background: white;
  border: 1px solid #a9afb8;
  color: #a9afb8;
  box-shadow: 0; }
  .btn-circular-grey:hover {
    background: #9198A0;
    color: white; }
  .btn-circular-grey:active {
    background: #838b94; }
  .btn-circular-grey i.fa {
    margin-right: 0;
    vertical-align: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .btn-circular-grey i.ionicons {
    vertical-align: middle;
    margin-right: 0;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

a {
  color: #4f637d;
  text-decoration: underline; }
  a:hover {
    color: #0062d0;
    text-decoration: underline; }
  a:active {
    color: #0062d0;
    text-decoration: none; }

a.a-highlight {
  color: #5D636B;
  background-color: #C3DCFB;
  padding: 2px 1px;
  text-decoration: none; }
  a.a-highlight:hover {
    background-color: #0062d0;
    color: white; }
  a.a-highlight:before {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    content: "1";
    color: white;
    text-align: center;
    font-size: .7rem;
    font-weight: 600;
    line-height: 15px;
    height: 18px;
    width: 17px;
    background: url(../img/annotation-tag.svg) no-repeat;
    margin-top: -19px;
    position: absolute; }

.align-center {
  text-align: center; }

.content-text {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #dark-blue-4; }

.ui-text, .dropdown-menu .dropdown-item {
  font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #4f637d; }

.dropdown-btn {
  width: 262px;
  height: 36px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #ccd2d6;
  color: #7a8995;
  text-align: left;
  letter-spacing: -0.1px;
  vertical-align: middle;
  padding: 0 13px;
  font-size: 0.875rem;
  font-weight: 400; }
  .dropdown-btn:active, .dropdown-btn:focus {
    border: 1px solid #a9afb8;
    outline: 0; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  float: right;
  margin-left: .875em;
  margin-top: 7px;
  vertical-align: .255em;
  content: "";
  color: #aab3ba;
  border-top: .35em solid;
  border-right: .35em solid transparent;
  border-left: .35em solid transparent; }

.dropdown-menu {
  width: 262px;
  margin-top: 8px;
  border-top: 3px solid #0062d0;
  border-radius: 0;
  padding: 0 15px; }
  .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 10px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #0062d0 transparent; }
  .dropdown-menu .dropdown-item {
    padding: 10px 0px;
    border-bottom: 1px solid #f0f2f6;
    text-decoration: none;
    color: #798996; }
    .dropdown-menu .dropdown-item i {
      margin-right: 5px; }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
      background: transparent;
      color: #4f637d; }
  .dropdown-menu .tab-pane a i {
    margin-right: 5px; }
  .dropdown-menu .nav-tabs {
    border-bottom: 1px solid #f0f2f6;
    padding-bottom: 1px; }
    .dropdown-menu .nav-tabs .nav-item {
      width: 50%;
      text-align: center; }
    .dropdown-menu .nav-tabs .nav-link {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight: 600;
      font-size: 0.6875rem;
      border-bottom: 0;
      border: 0;
      color: #798996; }
      .dropdown-menu .nav-tabs .nav-link:hover {
        border: 0;
        color: #4f637d; }
      .dropdown-menu .nav-tabs .nav-link.active {
        color: #4f637d;
        border: none;
        border-bottom: 2px solid #A6B2CC; }

.options-dropdown a {
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500; }
  .options-dropdown a i {
    margin-right: 2px;
    font-size: 1rem;
    vertical-align: -1px; }
.options-dropdown .dropdown-menu {
  width: 304px;
  margin-top: 2px;
  padding-bottom: 15px; }
  .options-dropdown .dropdown-menu:before {
    right: 23px; }
  .options-dropdown .dropdown-menu .dropdown-title {
    padding: 20px 0; }
    .options-dropdown .dropdown-menu .dropdown-title h4 {
      float: left;
      color: #4f637d; }
    .options-dropdown .dropdown-menu .dropdown-title a {
      float: right;
      color: #7b8693; }
      .options-dropdown .dropdown-menu .dropdown-title a i {
        vertical-align: 4px; }
        .options-dropdown .dropdown-menu .dropdown-title a i:hover, .options-dropdown .dropdown-menu .dropdown-title a i:focus {
          color: #0062d0; }
  .options-dropdown .dropdown-menu .dropdown-item {
    color: #4f637d;
    text-transform: none; }
    .options-dropdown .dropdown-menu .dropdown-item:hover {
      color: #364b62; }
    .options-dropdown .dropdown-menu .dropdown-item .item-note {
      font-size: 0.75rem;
      opacity: .75;
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      padding-left: 10px; }
  .options-dropdown .dropdown-menu .expandable::after {
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-right: -5px;
    margin-left: 0;
    margin-top: 6px;
    vertical-align: .255em;
    content: "";
    color: #7a8995;
    border-top: .35em solid transparent;
    border-bottom: .35em solid transparent;
    border-right: .35em solid transparent;
    border-left: .35em solid; }
  .options-dropdown .dropdown-menu .red-item {
    color: #E83535; }
    .options-dropdown .dropdown-menu .red-item:hover, .options-dropdown .dropdown-menu .red-item:active, .options-dropdown .dropdown-menu .red-item:focus {
      color: #E83535; }
.options-dropdown .dropdown-toggle::after {
  display: none; }

.dropdown-form {
  margin-bottom: 8px; }
  .dropdown-form label {
    font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
    font-size: .813rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 0.2px;
    text-align: left;
    float: left;
    clear: left;
    text-transform: uppercase;
    color: #7b8693; }
  .dropdown-form input.form-control {
    height: 36px;
    border-radius: 2px;
    background-color: rgba(220, 225, 231, 0.15);
    border: solid 1px #dde4ea;
    font-size: .813rem;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    color: #4f637d;
    font-weight: 600; }

.dropdown-form-control {
  position: relative;
  width: 100%;
  margin-top: 15px; }
  .dropdown-form-control button.btn-green, .dropdown-form-control button.btn-grey, .dropdown-form-control button.btn-circular-grey {
    float: right;
    height: 33px; }
  .dropdown-form-control a.discard-link {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
    font-size: .813rem;
    letter-spacing: -0.1px;
    text-align: left;
    color: #7b8693;
    text-transform: none;
    line-height: 2.4em; }
    .dropdown-form-control a.discard-link i {
      margin-right: 7px; }

.breadcrumbs {
  font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  float: left;
  color: #4f637d;
  letter-spacing: 0.2px;
  padding: 0;
  list-style: none; }
  .breadcrumbs .bc-item {
    float: left;
    display: inline; }
    .breadcrumbs .bc-item a {
      color: #4f637d;
      text-decoration: underline; }
  .breadcrumbs .bc-item + .bc-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #4f637d;
    content: ">"; }

label {
  font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
  font-size: .813rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 0.2px;
  text-align: left;
  float: left;
  clear: left;
  text-transform: uppercase;
  color: #7b8693; }

input.form-control {
  height: 36px;
  border-radius: 2px;
  background-color: rgba(220, 225, 231, 0.15);
  border: solid 1px #dde4ea;
  font-size: .813rem;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  color: #4f637d;
  font-weight: 600; }

input.add, input.search {
  background: url(../img/plus-icon.svg), rgba(220, 225, 231, 0.15);
  background-repeat: no-repeat, repeat;
  background-position: right 10px center; }
  input.add::placeholder, input.search::placeholder {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #AAB3BA; }

input.search {
  background: url(../img/search-icon.svg), rgba(220, 225, 231, 0.15);
  background-position: right 10px center;
  background-repeat: no-repeat, repeat; }

body {
  font-size: 16px;
  font-family: "Interface", "Helvetica Neue", Arial, sans-serif;
  color: #4f637d;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

.no-padding {
  padding: 0; }

#main-content {
  display: flex;
  width: calc(100% - 90px);
  margin-left: 90px;
  min-height: 100vh;
  min-width: 600px;
  transition: all .2s;
  overflow: auto; }

.navbar {
  position: fixed;
  z-index: 999;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  width: 60px;
  margin: 0;
  text-align: center;
  background-color: #29384b; }

.modal .modal-dialog {
  max-width: 80%; }
.modal .modal-content {
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 6px 0 rgba 0, 0, 0, 0.3; }
  .modal .modal-content .modal-header {
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    border-bottom: 0; }
    .modal .modal-content .modal-header .modal-title h4 {
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-align: center;
      color: #374c61;
      text-transform: none; }
    .modal .modal-content .modal-header .modal-title h5 {
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: .875rem;
      letter-spacing: 0.2px;
      font-weight: 400;
      text-align: center;
      color: #aeb7be; }
    .modal .modal-content .modal-header button.close {
      position: absolute;
      right: 18px;
      top: 8px; }
  .modal .modal-content .modal-body {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px; }

#comments_tabs {
  border-bottom: 1px solid #ccd2d6;
  border-top: 1px solid #ccd2d6;
  padding-top: 3px; }
  #comments_tabs .nav-item .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .875rem;
    color: #798996; }
  #comments_tabs .nav-item .active {
    border-bottom: 2px solid #0062d0;
    color: #0062d0;
    font-weight: 500; }

#comments_content {
  position: relative;
  margin: 1rem auto; }
  #comments_content .comments-filter .form-inline {
    justify-content: space-between; }
  #comments_content .comments-filter .flex-element {
    display: inherit; }
  #comments_content .comments-filter .dropdown .dropdown-btn {
    width: 112px; }
  #comments_content .comments-filter .dropdown .dropdown-menu {
    width: auto;
    min-width: 112px; }
    #comments_content .comments-filter .dropdown .dropdown-menu::before {
      left: 10px;
      right: auto; }
  #comments_content .comments-filter input.search {
    margin-right: 18px;
    margin-left: 18px;
    width: 220px;
    padding-right: 35px; }
  #comments_content .comments-filter label {
    margin-left: 18px;
    margin-top: 0px;
    margin-right: 1rem;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: .813rem;
    font-weight: 600;
    letter-spacing: 1.7px;
    text-align: left;
    color: #7d8a96; }
  #comments_content .comments-filter .form-check-input {
    margin-right: 12px; }
  #comments_content .comments-list {
    position: relative;
    width: 100%; }
    #comments_content .comments-list .comments-item {
      width: 100%;
      height: 128px;
      padding: 10px 15px;
      margin-bottom: 8px; }
      #comments_content .comments-list .comments-item .form-check-input {
        position: relative;
        display: inline-block;
        margin-top: .25rem;
        margin-left: 0;
        margin-right: 5px; }
      #comments_content .comments-list .comments-item h5 {
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
        display: inline-block;
        width: auto;
        font-size: .813rem;
        letter-spacing: -0.1px;
        text-align: left;
        font-weight: 600;
        color: #0062d0; }
      #comments_content .comments-list .comments-item .comment-issue {
        float: right;
        border-radius: 20px;
        padding: 2px 10px;
        font-size: .68rem;
        text-align: center;
        color: white;
        text-decoration: none; }
      #comments_content .comments-list .comments-item .no-issue {
        background: #9198A0; }
      #comments_content .comments-list .comments-item .has-issue {
        background: #f8c654; }
      #comments_content .comments-list .comments-item .comment-details {
        position: relative;
        margin-left: 23px;
        margin-top: 5px; }
        #comments_content .comments-list .comments-item .comment-details .user-avatar {
          display: inline-block;
          height: 30px;
          width: 30px;
          padding-top: 6px;
          margin-right: 3px;
          vertical-align: middle;
          text-decoration: none;
          border-radius: 20px;
          color: white;
          background-color: #ffbc4f;
          text-transform: uppercase;
          font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
          font-size: .813rem;
          font-weight: 600;
          text-align: center; }
        #comments_content .comments-list .comments-item .comment-details .user-name {
          font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
          font-size: .813rem;
          font-weight: 600;
          letter-spacing: -0.1px;
          text-align: left;
          color: #3181da;
          text-decoration: none; }
        #comments_content .comments-list .comments-item .comment-details .user-comment {
          font-size: .813rem;
          letter-spacing: -0.1px;
          text-align: left;
          color: #374c61;
          margin-left: 38px;
          margin-bottom: 0; }
      #comments_content .comments-list .comments-item .comment-actions {
        list-style: none;
        margin-top: 5px;
        margin-left: 22px;
        margin-bottom: 0; }
        #comments_content .comments-list .comments-item .comment-actions li {
          display: inline;
          margin-right: 1.3rem; }
          #comments_content .comments-list .comments-item .comment-actions li a {
            text-decoration: none;
            font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
            font-weight: 600;
            color: #798996;
            font-size: .813rem; }
            #comments_content .comments-list .comments-item .comment-actions li a:hover {
              color: #4f637d; }
            #comments_content .comments-list .comments-item .comment-actions li a i {
              margin-right: 3px; }
          #comments_content .comments-list .comments-item .comment-actions li .approved {
            color: #7cb353;
            font-weight: 400; }
            #comments_content .comments-list .comments-item .comment-actions li .approved:hover {
              color: #7cb353; }
    #comments_content .comments-list .comment-approved {
      background-color: rgba(124, 179, 83, 0.2);
      border: 1px solid rgba(124, 179, 83, 0.2);
      border-left: 3px solid #7cb353; }
    #comments_content .comments-list .comment-pending {
      background-color: rgba(180, 204, 227, 0.15);
      border: 1px solid rgba(180, 204, 227, 0.15);
      border-left: 3px solid #728190; }

/*# sourceMappingURL=main.css.map */
