// Primary
$bright-blue: #0062d0;
$green: #00c143;
$orange: #ffbc4f;
$red: #E83535;


//Dark Blues
$dark-blue-1: #29384b;
$dark-blue-2: #28374d;
$dark-blue-3: #364b62;
$dark-blue-4: #4f637d;

// Greys
$grey-1: #7a8995;
$grey-2: #7b8693;
$grey-3: #798996;
$grey-4: #929aa1;
$grey-5: #a9afb8;
$grey-6: #b3babf;
$grey-7: #f0f2f6;
