#editor-content {
    position: relative;
    width: calc(100% - 310px);

    .head {
        position: relative;
        height: 62px;
        width: 100%;
        border-bottom: 1px solid $grey-9;
        padding-top: 18px;
        padding-left: 0;
        padding-right: 0;

        .last-update {
            float: right;
            display: inline-block;
            font-size: 0.8125rem;
            color: #9da6b0;
            margin-top: 2px;
            font-weight: 400;
            font-family: $Open-Sans;
        }
    }

    .editor-body {
        position: relative;
        width: 100%;
        margin-top: 20px;

        .article-top {
            position: relative;
            border-bottom: 1px solid $grey-9;
            padding-bottom: 25px;
            margin-top: 30px;

            h1 {
                color: #7d8790;
            }

            h2 {
                color: #bdc4cb;
                margin-top: 18px;
            }

            .article-options {
                position: relative;
                width: 100%;
                margin-top: 25px;

            }

            .options-dropdown {
                float: right;
            }

            .article-translations {
                margin-top: -4px;
                display: block;
                float: right;
                margin-right: 20px;
                .dropdown-menu {
                    right: -1px;
                    font-family: $Open-Sans;
                    font-size: .875rem;
                    color: $dark-blue-4;
                    font-weight: 400;
                    &:before {
                        right: -1px;
                    }
                    .dropdown-title {
                        color: $dark-blue-4;
                        margin-top: 15px;
                        i {
                            float: right;
                            color: #D0D8E0;
                        }
                    }
                    .current {
                        font-weight: 500;
                        color: $dark-blue-4;
                    }
                    .dropdown-item {
                        i {
                            float: right;
                            font-size: .813rem;
                        }
                    }
                    .new-language {
                        text-align: center;
                        clear: both;
                        color: $green;
                        font-weight: 500;
                    }
                }
                .dropdown-toggle::after {
                    display: none;
                }
            }
        }

        .wysiwyg {
            height: 45px;
            width: calc( 100% - 40px );
            margin-left: 40px;
            border-bottom: 1px solid $grey-9;
            ul {
                padding-left: 0;
                list-style: none;
                height: 1px;

                li {
                    display: inline-block;
                    .wys-icon {
                        height: 45px;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 10px;
                        text-align: center;
                        display: inline-block;
                        i {
                            color: $grey-5;
                            font-size: .813rem;
                            &:hover {
                                color: $dark-blue-4;
                            }
                        }
                        .fa-sort-down {
                            margin-left: 5px;
                        }
                    }

                }

                li.left {
                    float: left;
                }
                li.right {
                    float: right;
                }
            }
        }

        .article-content {
            position: relative;
            width: 100%;
            margin-top: 25px;
            p {
                line-height: 2rem; // set 1.6rem when annotations are disabled
                margin-left: 40px;
            }

            .annotation {
                margin-left: 38px;
                margin-top: 33px;
                
                .dropdown-toggle::after {
                    display: none;
                }
                .dropdown-menu {
                    width: 333px;
                    margin-top: -25px;
                    margin-left: 13%;
                    border-left: 3px solid #0062d0;
                    border-top: 1px solid $grey-9;
                    border-radius: 0;
                    padding: 10px;
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: 90%;
                        left: -14px;
                        border-width: 0 8px 8px 8px;
                        border-style: solid;
                        border-color: #0062d0 transparent;
                        transform: rotate(-90deg);
                    }

                    .annotation-comment {
                        display: block;

                        .user-details {
                            .user-avatar {
                                display: inline-block;
                                height: 30px;
                                width: 30px;
                                padding-top: 6px;
                                margin-right: 3px;
                                vertical-align: middle;
                                text-decoration: none;
                                border-radius: 20px;
                                color: white;
                                background-color: $orange;
                                text-transform: uppercase;
                                font-family: $Open-Sans;
                                font-size: .813rem;
                                font-weight: 600;
                                text-align: center;
                            }

                            .annotation-menu {
                                float: right;
                                color: #A9AFB7;
                                font-size: 1rem;
                                vertical-align: middle;
                            }

                            .user-name {
                                text-decoration: none;
                                font-family: $Open-Sans;
                                font-weight: 600;
                                font-size: .875rem;
                                color: $grey-5;
                                display: inline-block;
                                vertical-align: middle;
                            }

                            .comment-date {
                                font-size: .75rem;
                                margin-left: 38px;
                                margin-top: 5px;
                                line-height: 0;
                                display: block;
                                text-decoration: none;
                                color: $grey-7;
                            }
                        }

                        .user-comment {
                            font-family: $Open-Sans;
                            font-size: 14px;
                            font-weight: 600;
                            color: $grey-1;
                            margin-left: 38px;
                            margin-top: 15px;
                            display: block;
                            margin-bottom: 15px;
                        }

                    }
                    .comment-case {
                        display: block;
                        width: 100%;
                        border-top: 1px solid #EDEDED;
                        padding-top: 15px;
                        margin-bottom: 6px;

                        input {
                            border-radius: 20px;
                            width: calc(100% - 45px);
                            display: inline-block;
                            margin-right: 0px;
                            &::placeholder {
                                font-family: $Open-Sans;
                                font-style: italic;
                                font-weight: 300;
                                color: #AAB3BA;
                            }
                        }

                        button {
                            float: right;
                        }
                    }
                }
            }
        }
    }

    .editor-footer {
        position: fixed;
        bottom: 0;
        border-top: 1px solid $grey-9;
        height: 80px;
        width: calc(100% - 400px);
        margin-right: 30px;

        .article-comment-counter {
            margin-top: 30px;
            text-transform: uppercase;
        }

        .new-comments {
            background: $orange;
            padding: 2px 6px;
            font-family: $Open-Sans;
            font-weight: 600;
            text-decoration: none !important;
            color: white;
            font-size: .813rem;
            border-radius: 3px;
            margin-left: 10px;
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 130px;
                top: 37px;
                border: 5px solid transparent;
                border-right: 6px solid $orange;
                z-index: 2;
            }
        }

        .article-ctas {
            position: relative;
            float: right;
            display: inline-block;
            margin-top: 20px;

            .publish-btn, .save-draft-btn {
                margin-left: 17px;
            }

            .article-completion-status {
                color: $green;
                font-size: 1.4rem;
                vertical-align: middle;
            }
        }
    }






}// END #editor-content
