.navbar {
    position: fixed;
    z-index: 999;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    width: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #29384b;

    .logo {
        position: absolute;
        top: 0;
        height: 60px;
        width: 60px;
        padding: 16px 18px;

        .dropdown-toggle {

            &:after {
                display: none;
            }
        }

        .dropdown-menu {
            width: 243px;
            margin-top: -50px;
            margin-left: 65px;
            background-color: #223141;
            border-top: 1px solid #d9dee3;
            border-radius: 0;
            padding: 0px;
            color: rgba(255,255,255,0.6);
            border-radius: 2px;
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.32);

            &:before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                bottom: 90%;
                left: -9px;
                border-width: 0 6px 6px 6px;
                border-style: solid;
                border-color: #223141 transparent;
                transform: rotate(-90deg);
            }

            ul {
                padding: 0;
                list-style: none;
                margin-bottom: 5px;
                margin-top: 5px;

                li {
                    width: 100%;

                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 15px;
                        text-decoration: none;
                        font-family: $Interface;
                        font-size: .875rem;
                        color: rgba(255,255,255, .6);

                        &:hover {
                            background: rgba(255,255,255, .05);
                            color: rgba(255,255,255, .9);
                            border-left: 2px solid $bright-blue;
                            padding-left: 13px;
                        }

                        i {
                            margin-right: 8px;
                        }
                    }
                }

                .expandable::after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    float: right;
                    margin-right: -7px;
                    margin-left: 0;
                    margin-top: 5px;
                    content: "";
                    color: #7a8995;
                    border-top: .35em solid transparent;
                    border-bottom: .35em solid transparent;
                    border-right: .35em solid transparent;
                    border-left: .35em solid;
                }
            }
        }


    }

    .menu {
        position: absolute;
        padding: 0;
        list-style: none;
        top: 60px;

        .menu-item {
            height: 55px;
            width: 60px;
            padding: 6px;

            a {
                text-decoration: none;
            }

            i {
                font-size: 1.5rem;
                vertical-align: 10px;
                color: #92A1B2;
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .new-article  {
        position: absolute;
        padding: 0;
        list-style: none;
        margin-top: 40px;
        padding: 12px;
    }

    .bottom-menu {
        @extend .menu;
        bottom: 45px;
        top: auto;

        .bottom-menu-item {
            @extend .menu-item;
        }
    }

    .user-profile-link {
        position: absolute;
        bottom: 10px;
        padding: 0 12px;

        .user-avatar {
            background: #36B9A9;
            height: 34px;
            width: 34px;
            color: white;
            text-decoration: none;
            font-family: $Interface;
            font-weight: 500;
            font-size: .875rem;
            display: block;
            border-radius: 4px;
            padding-top: 7px;
        }
    }

}

.tooltip {
    margin-left: 19px;

    .tooltip-inner {
        background-color: rgba(33, 50, 67, 1) !important;
        opacity: 1;
    }

    .arrow:before {
        border-right-color: #213243 !important;
        margin-top: -4px;
        content: "";
        border-width: 4px 4px 4px 1px;
    }
}
