.navbar {
    position: fixed;
    z-index: 999;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    width: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #29384b;

    .logo {
        position: absolute;
        top: 0;
        height: 60px;
        width: 60px;
        padding: 16px 18px;
    }

    .menu {
        position: absolute;
        padding: 0;
        list-style: none;
        top: 60px;

        .menu-item {
            height: 55px;
            width: 60px;
            padding: 6px;

            a {
                text-decoration: none;
            }

            i {
                font-size: 1.5rem;
                vertical-align: 10px;
                color: #92A1B2;
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .new-article  {
        position: absolute;
        padding: 0;
        list-style: none;
        //top: 60px;
        margin-top: 40px;
        padding: 12px;
    }

    .bottom-menu {
        @extend .menu;
        bottom: 45px;
        top: auto;

        .bottom-menu-item {
            @extend .menu-item;
        }
    }

    .user-profile-link {
        position: absolute;
        bottom: 10px;
        padding: 0 12px;

        .user-avatar {
            background: #36B9A9;
            height: 34px;
            width: 34px;
            color: white;
            text-decoration: none;
            font-family: $Interface;
            font-weight: 500;
            font-size: .875rem;
            display: block;
            border-radius: 4px;
            padding-top: 7px;

        }
    }

}

.tooltip {
    //background: $dark-blue-1;
    margin-left: 19px;
    .tooltip-inner {
        background-color: rgba(33, 50, 67, 1) !important;
        opacity: 1;
    }
    .arrow:before {
        border-right-color: #213243 !important;
        margin-top: -4px;
        content: "";
        border-width: 4px 4px 4px 1px;
    }
}
